<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="engtelecom.poo.stefanie.primeiroaplicativo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SegundaActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            // Criar seta para voltar.
        </activity>
        <activity
            android:name=".TerceiraActivity"
            android:parentActivityName=".SegundaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SegundaActivity" />
        </activity>
        <activity
            android:name=".QuartaActivity"
            android:parentActivityName=".TerceiraActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TerceiraActivity" />
        </activity>
        <activity
            android:name=".imagemActivity"
            android:parentActivityName=".QuartaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".QuartaActivity" />
        </activity>
    </application>

</manifest>